/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define DEFAULT 0
#define NUMBERS 1
#define NAV 2
#define SYMBOLS 3
#define MOUSE 4

/ {

    combos {
        compatible = "zmk,combos";
        combo_q {
            timeout-ms = <50>;
            key-positions = <0 1>;
			layers = <0>;
            bindings = <&kp Q>;
        };

        combo_w {
            timeout-ms = <50>;
            key-positions = <1 2>;
			layers = <0>;
            bindings = <&kp W>;
        };

        combo_b {
            timeout-ms = <50>;
            key-positions = <2 3>;
			layers = <0>;
            bindings = <&kp B>;
        };

        combo_y {
            timeout-ms = <50>;
            key-positions = <8 9>;
			layers = <0>;
            bindings = <&kp Y>;
        };

        combo_m {
            timeout-ms = <50>;
            key-positions = <9 10>;
			layers = <0>;
            bindings = <&kp M>;
        };

        combo_g {
            timeout-ms = <50>;
            key-positions = <10 11>;
			layers = <0>;
            bindings = <&kp G>;
        };

        combo_comma {
            timeout-ms = <50>;
            key-positions = <3 11>;
			layers = <0>;
            bindings = <&kp COMMA>;
        };

        combo_dot {
            timeout-ms = <50>;
            key-positions = <4 17>;
			layers = <0>;
            bindings = <&kp DOT>;
        };

        combo_p {
            timeout-ms = <50>;
            key-positions = <6 7>;
			layers = <0>;
            bindings = <&kp P>;
        };

        combo_apos {
            timeout-ms = <50>;
            key-positions = <5 6>;
			layers = <0>;
            bindings = <&kp APOS>;
        };

        combo_j {
            timeout-ms = <50>;
            key-positions = <4 5>;
			layers = <0>;
            bindings = <&kp J>;
        };

        combo_enne {
            timeout-ms = <50>;
            key-positions = <12 13>;
			layers = <0>;
            bindings = <&kp RA(N)>;
        };

        combo_o {
            timeout-ms = <50>;
            key-positions = <13 14>;
			layers = <0>;
            bindings = <&kp O>;
        };

        combo_k {
            timeout-ms = <50>;
            key-positions = <14 15>;
			layers = <0>;
            bindings = <&kp K>;
        };

        combo_mouse {
            timeout-ms = <50>;
            key-positions = <5 12>;
			layers = <0>;
            bindings = <&tog MOUSE>;
        };

        combo_symbols {
            timeout-ms = <50>;
            key-positions = <17 18>;
			layers = <0 1 2>;
            bindings = <&sl SYMBOLS>;
        };

        combo_f7 {
            timeout-ms = <50>;
            key-positions = <0 1>;
			layers = <2>;
            bindings = <&kp F7>;
        };

        combo_f8 {
            timeout-ms = <50>;
            key-positions = <1 2>;
			layers = <2>;
            bindings = <&kp F8>;
        };

        combo_f9 {
            timeout-ms = <50>;
            key-positions = <8 9>;
			layers = <2>;
            bindings = <&kp F9>;
        };

        combo_f10 {
            timeout-ms = <50>;
            key-positions = <9 10>;
			layers = <2>;
            bindings = <&kp F10>;
        };

        combo_f11 {
            timeout-ms = <50>;
            key-positions = <1 9>;
			layers = <2>;
            bindings = <&kp F11>;
        };

        combo_f12 {
            timeout-ms = <50>;
            key-positions = <2 10>;
			layers = <2>;
            bindings = <&kp F12>;
        };

};


	keymap {
		compatible = "zmk,keymap";

		// This is a sample keymap intended to be replaced with your ow
		default_layer {
			bindings = <
				&kp R     &kp S     &kp T     &kp H                 &kp N     &kp E     &kp A     &kp I    
				&kp Z     &kp X     &kp C     &kp V                 &kp L     &kp D     &kp U     &kp F
				                    &kp LCTRL &lt NUMBERS SPACE     &lt NAV ENTER &kp LSHFT
			>;
		};

		numbers_layer {
			bindings = <
				&kp ESC   &kp LA(TAB)     &kp LC(TAB)     &kp N9                &kp N5     &kp N6     &kp N7     &kp N8    
				&kp TAB   &kp LA(F4)      &kp LC(F4)       &kp N0                &kp N1     &kp N2     &kp N3     &kp N4
				                              &kp LCTRL &lt NUMBERS SPACE                &lt NAV ENTER &kp LSHFT
			>;
		};

		nav_layer {
			bindings = <
				&kp F4    &kp F5    &kp F6    &kp DEL               &kp LEFT     &kp DOWN     &kp UP     &kp RIGHT    
				&kp F1    &kp F2    &kp F3    &kp BSPC              &kp HOME     &kp PG_DN    &kp PG_UP  &kp END
				                    &kp LCTRL &lt NUMBERS SPACE     &lt NAV ENTER &kp LSHFT
			>;
		};

		symbols_layer {
			bindings = <
				&kp AT    &kp HASH  &kp PLUS  &kp EQUAL             &kp LPAR  &kp RPAR  &kp LBKT  &kp RBKT    
				&kp GRAVE &kp EXCL  &kp MINUS &kp UNDER             &kp COLON &kp SEMI  &kp BSLH  &kp FSLH
				                    &kp LCTRL &lt NUMBERS SPACE     &lt NAV ENTER &kp LSHFT
			>;
		};

		mouse_layer {
			bindings = <
				&kp PSCRN  &kp C_PP    &kp C_VOL_UP  &tog DEFAULT    &kp 5     &kp 6     &kp 7     &kp 8    
				&kp C_PREV &kp C_MUTE  &kp C_VOL_DN  &kp C_NEXT      &kp 1     &kp 2     &kp 3     &kp 4
				                    &kp LCTRL &lt NUMBERS SPACE      &lt NAV ENTER &kp LSHFT
			>;
		};

	};
};
