/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

	keymap {
		compatible = "zmk,keymap";

		// This is a sample keymap intended to be replaced with your own
		base_layer {
			bindings = <
				&kp A     &kp S     &kp D     &kp F        &kp H     &kp J     &kp K     &kp L    
				&kp Z     &kp X     &kp C     &kp V        &kp N     &kp M     &kp COMMA &kp DOT
				                    &kp TAB   &kp BSPC     &kp SPACE &kp ENTER
			>;
		};

	};
};